* {
    box-sizing: border-box;
}

h1 {
    background-color: rgb(240, 185, 103);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    border-width: 1px;
    padding: 10px;
    font-size: 16px;
}

ul {
    padding: 0px;
}

ul li {
    background: bisque;
    padding: 10px;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


ul li:hover {
    background-color: burlywood;
}

i.fa.fa-check:before {
    padding: 10px;
    font-size: 16px;
    /* color: rgb(1, 174, 1); */
}

.checkLbl {
    padding: 10px;
    /* color: rgb(235, 158, 64); */
}

#addBtn {
    height: 40.5px;
    width: 40.5px;
    font-size: 16px;
    background-color: rgb(229, 161, 60);
}

#removeBtn{
    background-color:rgb(156, 8, 8);
    color: antiquewhite;
    border-color: rgb(156, 8, 8);
    height: 25px;
    width: 25px;
    /* padding: 10px; */
    text-align: center;
    margin-left: 10px;
}

footer {
    color: blanchedalmond;
    background-color: black;
    padding: 10px;
    text-align: center;
}



